$accent: #FFC000;
$default: #E4E4E4;

%sFProDisplay-400{
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
}

%sFProDisplay-700{
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}

%sFProDisplay-600{
  font-family: 'SFProDisplay-SemiBold', sans-serif;
  font-weight: 600;
}

%sFProDisplay-500{
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
}

%sFProDisplay-800{
  font-family: 'SFProDisplay-Heavy', sans-serif;
  font-weight: 800;
}

@function max($numbers...){
  @return m#{a}x(#{$numbers});
}
@function min($numbers...){
  @return m#{i}n(#{$numbers});
}

%checkbox-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}